<a href="https://colab.research.google.com/github/Chekuru-Ravi/hello-world/blob/master/1_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# basic data types - int float str bool
# pythonic data types - list tuples sets dict
# if elif else
# for while - break continue
# functions

# What is Pandas?

Pandas is one of the most important libraries of Python.
</br>
Pandas has data structures for data analysis. The most used of these are Series and DataFrame data structures. Series is one dimensional, that is, it consists of a column. Data frame is two-dimensional, i.e. it consists of rows and columns.

In [2]:
# Pandas -> Series/DataFrame

In [3]:
# pip install numpy

In [4]:
# pip install pandas

In [5]:
import numpy  as np
import pandas as pd

In [6]:
pd.__version__

'2.2.2'

In [7]:
np.__version__

'2.0.2'

In [8]:
# Series : single column in an excel file!
# 1d array which can store multiple types of data!

In [9]:
obj = pd.Series([1,1.2,"upgrad",True])
obj

0         1
1       1.2
2    upgrad
3      True
dtype: object

In [ ]:
# Tabular structure | index is automatically added | dtype!

In [ ]:
obj[0]

1

In [ ]:
obj[1]

1.2

In [ ]:
obj2 = pd.Series([1,"John",3.5,True],
               index=["a","b","c","d"]
                )
obj2

a       1
b    John
c     3.5
d    True
dtype: object

In [ ]:
# obj2["B"] # case sensitive language!

In [ ]:
obj2['b']

'John'

In [ ]:
# list  - []
# tuple - ()
# set   - {}
# dict  - {k:v}

In [ ]:
score={"Jane":69, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
type(score)

dict

In [ ]:
score.keys()

dict_keys(['Jane', 'Bill', 'Elon', 'Tom', 'Tim'])

In [ ]:
score.values()

dict_values([69, 80, 85, 75, 95])

In [ ]:
score

{'Jane': 69, 'Bill': 80, 'Elon': 85, 'Tom': 75, 'Tim': 95}

In [ ]:
name = pd.Series(score)
print(name)

Jane    69
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [ ]:
# index  -> keys of the dict
# values -> values of the dict

In [ ]:
20 > 100

False

In [ ]:
100 > 20

True

In [ ]:
name

Jane    69
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [ ]:
name > 80
# 1. 5 True or False
# 2. names of all people who scored more than 80

Jane    False
Bill    False
Elon     True
Tom     False
Tim      True
dtype: bool

In [ ]:
# Want all names who scored greater than 80

In [ ]:
name[name>80]

Elon    85
Tim     95
dtype: int64