<a href="https://colab.research.google.com/github/Chekuru-Ravi/hello-world/blob/master/7_Sort%2C_nlargest%2C_nsmalles%2C_read_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy  as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'A': [1, 20, 4,0],
    'B': [4, 5, 6,0]
})

In [3]:
df

    A  B
0   1  4
1  20  5
2   4  6
3   0  0

In [4]:
df.sort_values(by="A") # ascending sort

    A  B
3   0  0
0   1  4
2   4  6
1  20  5

In [5]:
df.sort_values(by="A", ignore_index=True) # ascending sort

    A  B
0   0  0
1   1  4
2   4  6
3  20  5

In [ ]:
df.sort_values(by="A", ignore_index=True,
              ascending=False) # descending sort

# add inplace = True to save this operation!

    A  B
0  20  5
1   4  6
2   1  4
3   0  0

In [ ]:
# sort on multiple columns :
# df.sort_values(by = ['col1','col2'], ascending=[True,True])

In [ ]:
data = {'values': ['10', '20', '30', '40', '50']}
df = pd.DataFrame(data)

In [ ]:
df

  values
0     10
1     20
2     30
3     40
4     50

In [ ]:
df.dtypes

values    object
dtype: object

In [ ]:
df['values'] = pd.to_numeric(df['values'])

In [ ]:
df.dtypes

values    int64
dtype: object

In [ ]:
df

   values
0      10
1      20
2      30
3      40
4      50

In [ ]:
data = {'values': ['10', '20', '30', '40', 'upgrad']}
df = pd.DataFrame(data)

In [ ]:
df

   values
0      10
1      20
2      30
3      40
4  upgrad

In [ ]:
# df['values'] = pd.to_numeric(df['values'])
# error - upgrad cannot be converted to a number

In [ ]:
df['values'] = pd.to_numeric(df['values'],errors='coerce')

In [ ]:
df

   values
0    10.0
1    20.0
2    30.0
3    40.0
4     NaN

In [ ]:
df['values'].nlargest(2)

3    40.0
2    30.0
Name: values, dtype: float64

In [ ]:
df['values'].nlargest(1)

3    40.0
Name: values, dtype: float64

In [ ]:
df['values'].nsmallest(2)

0    10.0
1    20.0
Name: values, dtype: float64

In [ ]:
df['values'].nsmallest(1)

0    10.0
Name: values, dtype: float64

In [ ]:
# Read CSV

In [ ]:
# pd.read_ # hit tab

In [ ]:
# df = pd.read_csv('path/filename.csv')
# df = pd.read_excel('path/filename.xlsx')

In [ ]:
# in below code : add the path on your computer

In [1]:
#df = pd.read_csv('/Users/04219r744/Downloads/advertising.csv')

In [ ]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [ ]:
df.shape

(200, 4)

In [ ]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [ ]:
# Windows laptop :
# 1. Unicode Error
# df = pd.read_csv(r'path/filename.csv')
# df = pd.read_excel(r'path/filename.xlsx')

# 2. FileNotFoundError : Path is incorrect

In [2]:
t = ('ravi','chand','chekuru', 1, 'may', 1981)

In [3]:
print(type(t))

<class 'tuple'>

In [4]:
t[0]

'ravi'

In [5]:
t[0] = 'Ravi'

TypeError: 'tuple' object does not support item assignment

In [6]:
t = (['ravi','chand','chekuru'], 1, 'may', 1981)

In [7]:
t[0]

['ravi', 'chand', 'chekuru']

In [8]:
t[0][0] = 'Ravi'

In [9]:
t

(['Ravi', 'chand', 'chekuru'], 1, 'may', 1981)

In [10]:
t1 = (['Yaduveer', 'Sai', 'Chekuru'], 17, 'dec', 2017 )

In [13]:
t2 = t + t1

In [14]:
t2

(['Ravi', 'chand', 'chekuru'],
 1,
 'may',
 1981,
 ['Yaduveer', 'Sai', 'Chekuru'],
 17,
 'dec',
 2017)

In [15]:
t = 1, 2.2, 3

In [16]:
sum(t)

6.2

In [17]:
min(t), max(t)

(1, 3)

In [20]:
t = list('str')

In [21]:
t

['s', 't', 'r']

In [22]:
t = 1 , 2, 'ravi chand', 3 , 4
t

(1, 2, 'ravi chand', 3, 4)

In [23]:
t = t[:2] + ('Ravi Chand Chekuru', ) + t[3:]
t

(1, 2, 'Ravi Chand Chekuru', 3, 4)

In [24]:
t = 4, 2 ,5, 8, 1
t

(4, 2, 5, 8, 1)

In [27]:
#t.sort()
tl = tuple(sorted(t))
tl

(1, 2, 4, 5, 8)